/* campañas*/
.pseudos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: 100%;
    background-color: #eeee;
    gap: 40px;
    padding: 20px;
}

.pseudo {
    width: 90%;
    height: 500px;
    background-color: #CC9544;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eeee;
    transition: .5s;
    overflow: hidden;
    img {
        width: 40%;
        height: 100%;
        object-fit: cover;
        filter: blur(2px);
        transition: .5s;
    }
}

.pseudo__container {
    padding: 50px;
    width: 50%;
}


.pseudo:hover {
    background-color: #cc5d44;
    box-shadow: 5px 5px 15px 0px #4a4a4a;
    img {
        filter: blur(0);
        width: 50%;
        height: 900px;
    }
}

.pseudo:nth-child(odd) {
    background-color: rgb(4, 34, 34);
    color: #eeee;
    flex-direction: row-reverse;
    &:hover {
        background-color: #49c989;
        box-shadow: 5px 5px 15px 0px #4a4a4a;
    }
}


/* @media only screen and (max-width:480px) {
    .pseudo img{
            display: flex;
           /* width: 40%;
            height: 250px;
            
            justify-content:center;
            align-items: center;
        
    }
    .pseudo__container{
        display: flex;
        flex-direction: column;

            
            justify-content:center;
            align-items: center;
    }
}*/